[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

markdown = "*"
pygments = "*"
django-admin-bootstrapped = "*"
django = "*"
django-markdown-deux = "*"


[dev-packages]

