{% extends 'base.html' %}
{% load blog_tags %}
{% block nav %}
                    <li ><a href="{% url 'blog:index' %}">Home</a></li>
	                <li class="current"><a href="{% url 'blog:archives' %}">Archives</a></li>
                    <li><a href="">Page</a></li>
    {% endblock %}
{% block main %}
   			<section class="page">

					<h2>Archives.</h2>
					
{#					<p class="lead">Lorem ipsum Nisi enim est proident est magna occaecat dolore proident eu ex sunt consectetur consectetur dolore enim nisi exercitation adipisicing magna culpa commodo deserunt ut do Ut occaecat. Lorem ipsum Veniam consequat quis.</p>					#}
					
					<div class="row archive-list">

						<div class="twelve columns">

							<h4>Last 10 Posts.</h4>	

				      	<ul>
                            {% popular_post_tag as post_list %}
                            {% for post in post_list %}
                            <li><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></li>

                            {% endfor %}


				      	</ul>								

						</div>

						<div class="twelve columns">

							<h4>Archives By Month.</h4>

					      	<ul>
                                {% archives_by_month as month_list %}
                                {% for date in month_list %}
                                <li><a href="{% url 'blog:month_list' date.year date|date:"m" %}">{{ date.year }}年{{ date.month }}月</a></li>
                                {% endfor %}


					      	</ul>							

						</div>

					</div> <!-- end row -->			      	

			      <div class="row archive-list">
			      	
						<div class="twelve columns">

							<h4>Archives By Category.</h4>	

				      	<ul>
                            {% category_tag as category_list %}
                            {% for category in category_list %}
                            <li><a href="{% url 'blog:category' category %}">{{ category }}</a></li>
                            {% endfor %}



				      	</ul>
							

						</div>

{#						<div class="twelve columns">#}
{##}
{#							<h4>Site Map.</h4>	#}
{##}
{#				      	<ul>#}
{#				      		<li><a href="">Archives</a></li>#}
{#				      		<li><a href="">Home</a></li>#}
{#				      		<li><a href="">About Us</a></li>#}
{#				      		<li><a href="">Blog</a></li>#}
{#				      		<li><a href="">Demo</a></li>#}
{#				      		<li><a href="">Other Stuff</a></li>#}
{#				      	</ul>							#}
{##}
{#						</div>#}

			      </div>					

				</section> <!-- End page -->
{% endblock %}

