{% extends 'base.html' %}
{% load markdown_deux_tags %}
    {% block nav %}
                    <li class="current"><a href="{% url 'blog:index' %}">Home</a></li>
	                <li><a href="{% url 'blog:archives' %}">Archives</a></li>
                    <li><a href="">Page</a></li>
    {% endblock %}
    {% block main %}
        {% for post in post_list %}
        <article class="entry">

					<header class="entry-header">

						<h2 class="entry-title">
							<a href="{% url 'blog:detail' post.pk  %}" title="">{{ post.title }}</a>
						</h2>

						<div class="entry-meta">
							<ul>
								<li>{{ post.created_time }}</li>
								<span class="meta-sep">&bull;</span>
								<li><a href="#" title="" rel="category tag">{{ post.category }}</a></li>
{#
							</ul>
						</div>

					</header>
                    {% if post.pk < 13%}
                    <div class="entry-content">
						<p>{{ post.body|truncatechars:122|safe }}</p>
					</div>
                        {% else %}
                        <div class="entry-content">
						<p>{{ post.body|markdown|truncatechars:122 }}</p>
					</div>
                    {% endif %}



				</article> <!-- end entry -->
        {% endfor %}
    <div style="width: 100%;margin-left: auto;margin-right: auto">

        <div class="col-xs-6">
                {% if post_list.has_previous %}
                    <a href="?page={{ post_list.previous_page_number }}">&laquo;Older</a>
                {% endif %}

                {% if post_list.has_next %}
                    <a style="float: right" href="?page={{ post_list.next_page_number }}">More&raquo;</a>
                {% endif %}

        </div>

    </div>
    {% endblock %}

